.timer img{
    width: 120px;
}
.timer span{
    display: inline-block;
    padding: 18px;
    width: 40px;
    font-size: 25px;
    letter-spacing: 1px;
    background-color: #3ae374;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    margin: 30px 8px 0 8px;
}
